Source: server-backup-s3
Section: admin
Priority: optional
Maintainer: Philip J Freeman <elektron@halo.nu>
Build-Depends: debhelper (>= 10), dh-python, python3-all, python3-setuptools
Standards-Version: 4.1.2
Homepage: https://github.com/ph1l/server-backup-s3
X-Python-Version: >= 3.9

Package: server-backup-s3
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}, tar, gnupg
Description: incremental backups gnupg (PGP) encrypted and uploaded to s3
 Python script for backing up a linux server to s3. tar listed incremental
 backups gnupg (PGP) encrypted and uploaded to s3 
